@CHARSET "ISO-8859-1";

table {
	font-size: 1em;
	width: 100%;
	color: #1b1b1b;
	text-align: left;
	position: relative;
	margin: 1em auto
}

option:nth-child(even) {
  background-color: #f1f1f161;
}

option:nth-child(odd) {
  background-color: white;
}

form label {
	font-weight: 100;
	margin-top: -10px;
	cursor: default;
}